@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.logo{
    width: 35px;
    height: 35px;
}

.p-button{
    background: #007bff !important;
    border: 1px solid #d6eaff !important;
}

.text-logo{
    margin-bottom: 0px;
    font-size: 17px;
    padding: 5px;
}

.button-primary{
    border-radius: 15px !important;
    background-color: #1AA3E5 !important;
    color: white !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
    font-size: 15px;
    padding: 1px 5px;
    text-decoration: none;
    border: none !important;
}

.button-dados {
    background: #1AA3E5 !important;
    box-shadow: 0 4px 9px -4px #1AA3E5 !important;
}

.button-dados2 {
    box-shadow: 0 4px 9px -4px #1AA3E5 !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    border-radius: 20px;
    background: #c6d4ec !important;
    color: #1AA3E5 !important;
}

.p-rating .p-rating-item.p-focus{
    outline: none !important;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button{
    border-radius: 50% !important;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator button{
    border-radius: 50% !important;
}

.gm-style .gm-style-iw-c{
    padding: 0 !important;
}

.gm-style .gm-style-iw-d{
    overflow: auto !important;
}

.gm-ui-hover-effect{
    background: none;
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
    background: white !important;
    user-select: none;
    opacity: unset !important;
    border-radius: 50% !important;
    top: 5px !important;
    right: 5px !important;
    width: 30px;
    height: 30px;
}

.p-galleria-indicators{
    margin-bottom: 0px !important;
}

.gm-style-mtc-bbw{
    display: none !important;
}

.gm-svpc{
    display: none !important;
}

.gmnoscreen{
    display: none !important;
}
.gm-style-cc{
    display: none !important;
}

.gmnoprint{
    top: 29px !important;
}

.p-sidebar-mask.p-component-overlay{
    pointer-events: none !important;
}

.p-component-overlay-enter{
    animation: none!important;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: #eead2d !important;
}

.p-card .p-card-body{
    padding-top: 0.5rem;
}

.button-secondary{
    border-radius: 15px !important;
    background-color: #E5E8EB !important;
    color: black !important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 1px 10px;
    text-decoration: none;
    border: none !important;
}

.main-flux {
    margin: 30px calc(100vw * 0.10) !important;
}

.container-home {
    border: none !important;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~@/assets/img/coworking-space-ex1.jpg');
    background-size: cover !important;
    border-radius: 10px !important;
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center center; /* Centraliza a imagem de fundo */
    height: 480px !important;
}

.text-title{
    font-family: "Poppins", sans-serif;
}

:deep(.p-calendar){
    width: 100% !important;
    height: 100% !important;
    border-radius: 12px !important;
}
:deep(.p-inputtext) {
    border-radius: 12px !important;
}
:deep(.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext) {
    outline: 1px solid #1AA3E5 !important;
}

:deep(.p-dropdown:not(.p-disabled).p-focus) {
    outline: 1px solid #1AA3E5 !important;
}

:deep(.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight) {
    background: #c6d4ec !important;
    color: #1AA3E5 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    background: #c6d4ec !important;
    color: #1AA3E5 !important;
}

:deep(.p-datepicker table td.p-datepicker-today > span.p-highlight){
    background: #c6d4ec !important;
    color: #1AA3E5 !important;
}

.p-datepicker table td.p-datepicker-today > span.p-highlight{
    background: #c6d4ec !important;
    color: #1AA3E5 !important;
}

.p-datepicker table td > span:focus{
    outline: 1px solid #1AA3E5 !important;
}

.p-datepicker table td > span.p-highlight{
    background: #c6d4ec !important;
    color: #1AA3E5 !important;
}

.p-datepicker .p-monthpicker .p-monthpicker-month.p-highlight{
    background: #c6d4ec !important;
    color: #1AA3E5 !important;
    outline: 1px solid #1AA3E5 !important;
}

.p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight{
    background: #c6d4ec !important;
    color: #1AA3E5 !important;
    outline: 1px solid #1AA3E5 !important;
}

.container-filtros{
    border-radius: 35px;
    padding: 14px;
    border: 1.5px solid lightgrey;
}

:deep(.p-dropdown) {
    width: 100% !important;
    height: 100% !important;
    align-items: center !important;
    border-radius: 12px !important;
}
:deep(.p-dropdown-items){
    padding-left: 4px !important;
}

.p-dropdown-items-wrapper > ul {
    padding-left: 4px !important;
}


#titulo-imagem{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    text-align: center;
    font-weight: 600;
}

.overlay-text {
    color: white;
    position: absolute;
    bottom: 38%;
    left: 10%;
    font-family: "Poppins", sans-serif;
    right: 10%;
    padding: 20px;
    border-radius: 8px;
    font-size: 25px;
    z-index: 2; /* Garante que o texto esteja acima do overlay */
    text-align: center;
}

.form-control{
    font-family: "Poppins", sans-serif;
}

.titles-primary{
    font-weight: 700;
    color: #121417;
}

.subtext-primary{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #121417;
}

.sub-text-accordion{
    color: #637D87
}
